.container {
  display: flex;
  flex-wrap: wrap;
}
.container > div {
  text-align: center;
  padding: 1em;
  width: 160px;
}
.container > div img {
  width: 96px;
  height: auto;
}
code {
  white-space: nowrap;
}
